@@include('./header.html',{"basePath":"/","scrollLinkClass":""})
		

        
        <!-- Help -->
        <!-- FAQ -->
        <div class="faq-container section-container" id="faq">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 faq section-description wow fadeIn">
                        <h2>Frequently asked questions</h2>
                        <p>
                            We have listed below some of the frequently asked questions for your reference. If these do not solve your problem, feel free to <a href="/index.html#contact">Contact us</a> or <a href="https://feedback.userreport.com/4989b0a5-f99c-4b2f-ad1e-a974b1216f4c/">leave a feedback</a>.
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-8 faq-box faq-box-left wow fadeInLeft">
                        <div class="single-faq">
                            <h3>How to access backups from iTunes/Mac?</h3>
                            <span><i class="fa fa-plus"></i></span>
                            <div class="single-faq-text">
                                <p>
                                    You can access your backups from iTunes using the Apple File Sharing. (See apple help article on <a href="http://support.apple.com/en-us/HT201301">iOS: About File Sharing</a>.)
                                    </p>
                                <p>

                                        In iTunes, Select your iOS device from the Devices section of iTunes.Click the Apps tab and scroll down to the bottom of the page.
                                        <img src="assets/img/help/NewPhonebook-iTunes-access-backups-apps-tab.png" />

                                    </p>
                                    <p>
                                        Under the file Sharing section in iTunes, find "Phonebook". Your backup files will be listed on the right hand side.
                                        <img src="assets/img/help/NewPhonebook-iTunes-access-backups-file-sharing.png" />
                                    </p>

                            </div>
                        </div>
                        <div class="single-faq">
                            <h3>How to restore backups from Mac/PC using iTunes?</h3>
                            <span><i class="fa fa-plus"></i></span>
                            <div class="single-faq-text">
                                <p>

                                    In iTunes, Select your iOS device from the Devices section of iTunes.Click the Apps tab and scroll down to the bottom of the page.
                                    <img src="assets/img/help/NewPhonebook-iTunes-access-backups-apps-tab.png" />

                                </p>
                                <p>
                                    Under the file Sharing section in iTunes, find "Phonebook". Add your backup file (*.vcf) using the Add.. button.
                                    <img src="assets/img/help/NewPhonebook-iTunes-access-backups-file-sharing.png" />
                                </p>
                                <p>
                                    Open the NewPhonebook app on your iPhone and go to Tools->Restore Contacts->Restore from Phone. It will prompt you to select
                                    the backup file.
                                </p>
                            </div>
                        </div>
                        <div class="single-faq">
                            <h3>Where in Google Drive are my backups located?</h3>
                            <span><i class="fa fa-plus"></i></span>
                            <div class="single-faq-text">
                                <p>
                                    NewPhonebook will upload all backups to your Google Drive Root Folder. For restoration, your backup should be located in the root folder and also have a .vcf file extension.
                                </p>
                            </div>
                        </div>
                        <div class="single-faq">
                            <h3>Where in Dropxbox are my backups located?</h3>
                            <span><i class="fa fa-plus"></i></span>
                            <div class="single-faq-text">
                                <p>
                                    NewPhonebook will upload all backups to your Dropbox account at Apps/newphonebook. For restoration, your backup should be located in the same folder and also have a .vcf file extension.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4 faq-box faq-box-right wow fadeInUp">
                        <span>?</span>
                    </div>
                </div>
            </div>
        </div>
@@include('./footer.html')